.cart_list_all::-webkit-scrollbar {
    width: 6px;
}

.cart_list_all::-webkit-scrollbar-track {
    border-radius: 0px;
    background: white;
}

.cart_list_all::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 0px;
    box-shadow: inset 0 0 2px white;
}

.cart_list_all::-webkit-scrollbar-thumb:hover {
    background: #191919;
    border-radius: 0px;
    box-shadow: inset 0 0 2px white;
}

.cart_list_all {
    background-color: white;
    width: 100%;
    height: 80%;
    position: relative;
    overflow-y: scroll;
}

.checkout {
    width: 80px;
    display: none;
    height: 30px;
    background-color: #06d6a0;
    color: white;
    position: relative;
    float: right;
    border: none;
    border-radius: 4px;
}

.paynow {
    width: 80px;
    height: 30px;
    background-color: #06d6a0;
    color: gray;
    position: relative;
    float: right;
    border: none;
    border-radius: 4px;
}

.ship_addr {
    font-family: sans-serif;
    font-size: 15px;
    position: relative;
    top: 8px;
    float: left;
    left: 40px;
}

.total_details {
    width: 250px;
    height: 40px;
    position: relative;
    float: right;
    right: 10px;
    border-radius: 4px;
}

.total_text {
    font-family: sans-serif;
    font-size: 14px;
    position: relative;
    top: 10px;
    left: 5px;
}

.total_items {
    position: relative;
    float: right;
    width: 95%;
    background-color: white;
    height: 80%;
    top: 10%;
    border-radius: 4px;
    right: 10px;
}

.type_tag {
    position: relative;
    font-family: bahnschrift;
    font-size: 15px;
    top: 6px;
    left: 2px;
    margin: 4px;
}

.type_data {
    position: relative;
    font-family: sans-serif;
    font-size: 14px;
    top: 6px;
    left: 4px;
    margin: 3px;
}

.type_data_item {
    position: relative;
    font-family: sans-serif;
    font-size: 14px;
    top: 6px;
    left: 4px;
    margin: 3px;
}

.remove_product {
    float: right;
    width: 25px;
    height: 25px;
    position: relative;
    border-radius: 100px;
    border: 1px solid #ccc;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.each_product_container {
    position: relative;
    background-color: white;
    margin-top: 12px;
    overflow: hidden;
    border: 1px solid #f1f1f1;
    width: 95%;
    border-radius: 12px;
    height: 250px;
    top: 30px;
    padding-bottom: 20px;
}

.product_details_box {
    position: relative;
    float: left;
    height: 85px;
    width: 50%;
    padding: 6px;
    background-color: white;
    margin-top: 5%;
    left: 10%;
    overflow: hidden;
}

.product_specs_box {
    position: relative;
    float: left;
    height: 55px;
    width: 95%;
    left: 2%;
    background-color: white;
    overflow: hidden;
}

.image_of_product {
    width: 150px;
    height: 150px;
    float: left;
    left: 20px;
    position: relative;
}

.check_product1 {
    float: left;
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    padding: 3px;
}

.check_product {
    float: left;
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 100%;
    vertical-align: middle;
    border: 0;
    box-shadow: none;
    background: transparent;
    outline: none;
    cursor: pointer;
}

.desc {
    font-family: calibri;
    font-size: 16px;
    position: relative;
    top: 10px;
    white-space: pre-line;
    color: gray;
}

.specs_text {
    font-family: bahnschrift;
    color: #404040;
    font-size: 15px;
}

.specs_text_detail {
    font-family: sans-serif;
    color: #404040;
    font-size: 14px;
    padding: 2px;
}

.product_quantity {
    position: relative;
    float: left;
    height: 50px;
    width: 95%;
    left: 2%;
    background-color: white;
    overflow: hidden;
}

.quantity_update {
    float: right;
    width: 40%;
    background-color: white;
    right: 20px;
}

.q_man {
    width: 35px;
    height: 35px;
    font-size: 15px;
    border: none;
    border: 1px solid #06d6a0;
    background-color: white;
    color: #404040;
    border-radius: 100%;
    margin: 3px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 18px;
    cursor: pointer;
}

.q_man2 {
    width: 45px;
    height: 30px;
    font-size: 15px;
    border: none;
    border: 1px solid #e5e5e5;
    background-color: white;
    color: #404040;
    border-radius: 20%;
    margin: 3px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
}

.quantity_data {
    font-family: sans-serif;
    font-size: 20px;
    color: #404040;
}

.price_data {
    font-family: bahnschrift;
    font-size: 17px;
    color: #505050;
    position: relative;
    right: 10px;
}

.price_data_raw {
    font-family: bahnschrift;
    font-size: 17px;
    color: #505050;
    position: relative;
    right: 0px;
}